/* .site-footer .widgets {
  padding-top: 8.8vh;
  padding-bottom: 8.8vh;
  list-style: none;
}
.vc_row {
  position: relative;
}

.vc_row,
.site-footer .vc_row {
  margin-left: -20px;
  margin-right: -20px;
} */
